<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <pagename>
        {% block pagename %}
        <h1>Главная страница</h1>
        {% endblock %}
    </pagename>

    <menu>
        {% block menu %}
        <p><a href = '/'><h3>Главная</h3></a></p>
        <p><a href = "/games"><h3>Магазин</h3></a></p>
        <p><a href="/cart"><h3>Корзина</h3></a></p>
        <p><a href="news/"><h3>Посты</h3></a></p>
        {% endblock %}
    </menu>

    <content>
        {% block content %}
        {% endblock %}
    </content>
</body>
</html>